body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e3dede;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  display: flex;
  gap: 10px;
  height: 540px;
  max-width: 1050px;
  width: 100%;
  padding-top: 25px;
  border-radius: 20px;
}

.tools-board {
  width: 210px;
  height: 500px;
  border-radius: 20px;
  background-color: #f8f7f6;
  padding: 25px 22px 0;
}

.tools-board .row {
  margin-bottom: 20px;
}

.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}

.row .options .option {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}

.option:is(:hover, .active) img {
  filter: grayscale(20%);
}

.option :where(span, label) {
  color: black;
  cursor: pointer;
  padding-left: 10px;
}

.option:is(:hover, .active) :where(span, label) {
  color: #0075c9;
}

.option #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

.option #color-picker {
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.buttons button {
  width: 80%;
  color: #fff;
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 3px 0;
  margin-bottom: 13px;
  background: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons .clear-canvas {
  color: black;
  border: 1px solid #9fc39f;
  transition: all 0.2s ease;
  border: 2px solid black;
  font-size: 13px;
}

.clear-canvas:hover {
  color: #fff;
  background: #6c757d;
}

.drawing-board {
  flex: 1;
  margin-bottom: 50px;
}

.canvas-wrapper {
  border-radius: 10px;
  overflow: hidden;
}

.drawing-board canvas {
  width: 100%;
  height: auto;
  border-radius: 0;
  display: block;
}
